* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  width: 100vw;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.topContent {
  height: 30rem;
  width: 100%;
  display: flex;
  padding: 10px;
}

.frame {
  height: 30rem;
  width: 50%;
}

.graph {
  height: 30rem;
  width: 50%;
}

.bottomContent {
  width: 100%;
  height: 1fr;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.table {
  height: 30rem;
  width: 90%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
  overflow: scroll;
}

.vehicle-item {
  width: 300px;
  height: 180px;
  list-style: none;
  border: 1px solid black;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.btns {
  display: flex;
  justify-content: center;
}

.vehicle-item button {
  height: 30px;
  width: 100px;
  margin: 10px;
}

.active {
  background-color: #008000;
}

.damaged {
  background-color: #b9600dd0;
}

.destroyed {
  background-color: #ff0000;
}

.maintenance {
  background-color: #29a1c9;
}

.addBtn {
  width: 5%;
}

.newVehicleBtn {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 67px;
  bottom: 50px;
  padding: 20px;
  border-radius: 100px;
  text-align: center;
  cursor: pointer;
}